@import "tailwindcss";

:root {
  --background: #050508;
  --foreground: #f8fafc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-orbitron: var(--font-orbitron);
  --font-chakra: var(--font-chakra);
  --font-black-ops: var(--font-black-ops);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-orbitron), system-ui, sans-serif;
  overflow-x: hidden;
}

